//GLOBAL 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
    //COLOR
    $purple-color: #b61984;
    $dark-color: #181818;
    $white-color: #fff;
    $teacher-list-bg: #dcd1f3;
    
    //FONT SIZE
    $fs-normal: 16px;

    // FONT-WEIGHT
    $fw-400: 400;
    $fw-600: 600;
    $fw-700: 700;
    $fw-800: 800;

body {
    position: relative;
    background-color: $white-color;
    line-height: 1.8rem;
    font: {
        family: 'Montserrat', sans-serif;
        weight: $fw-400;
        size: $fs-normal;
    }
}

    //FONT MIXIN
    @mixin font-set($size, $weight) {
        font: {
            size: $size;
            weight: $weight;
        }
    }

    //BACKGROUND MIXIN
    @mixin bg-mixin($image, $position) {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url($image);
        background-position: $position;
    }

    //BUTTON MIXIN
    @mixin button($height) {
        display: inline-block;
        height: $height;
        line-height: $height;
        background-color: $purple-color;
        text-align: center;
        border-radius: 25px;
        color: $white-color;
        font-size: .9rem;
        border: 1px solid $purple-color;
        padding: 0 1rem;
        outline: none;
        transition: all .5s;
        &:hover {
            color: $purple-color;
            background-color: $white-color;
        }
    }

//HEADER 
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: all 1s;
}

// NAVBAR 
$navbar-height: 90px;
nav {
    transition: height .5s;
}
.navbar {
    .navbar-collapse {
        flex-grow: unset;
        .navbar-nav {
            z-index: 2;
            .nav-item {
                padding: 0 1rem;
            }
            .nav-link {
                @include font-set(.8rem, $fw-600);
            }
            @media (max-width:600px) {
                background-color: $white-color;
            }
        }
        button {
            @include button(45px);
            @media (max-width: 600px) {
                display: none;                
            }
        }
        a {
            color: $dark-color;
            text-decoration: none;
        };
        a:hover {
            color: $purple-color;
        };
    }
    .socialIcon {
        @media (max-width: 600px) {
            display: none;                
        }
    }
}

.scrollShow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $white-color;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    display: block;
    .navbar-brand {
        visibility: hidden;
        height: 0;
    }
    nav {
        padding-top: 8px;
        margin-top: 0;
        margin: auto;
        height: 3rem;
    }
}

//ABOUT US
.aboutus {
    position: relative;
    background-image: url(../img/yellow_top_wave_01.png);
    background-repeat: no-repeat;
    background-size: 100%;
    @media (max-width: 600px) {
        padding-top: 7rem;
    }
    @media (min-width: 600px) {
        padding-top: 5rem;
    }
    .aboutInnerLeft {
        h5 {
            @include font-set(1.1rem, $fw-600);
            color: $purple-color;
        }
        p {
            @include font-set(3.5rem, $fw-700);
            line-height: 3.5rem;
        }
    }
    .aboutInnerRight {
        img {
            max-width: 100%;
        }
    }
}

.aboutus::after {
    @include bg-mixin("../img/Violet_top_left_wave.png", left bottom);
    z-index: -1;
}

//TEACHER LIST
.teacherlist {
    position: relative;
    background-color: $teacher-list-bg;
    padding-bottom: 15px;
    .listItem {
        z-index: 1;
    }
    .card {
        margin-bottom: 2rem;
        border-radius: 1rem;
        overflow: hidden;
        transition: all .5s ease .1s;
        border: unset;
        min-height: 362px;
        .card-title {
            @include font-set(.75rem, $fw-600);
            color: $purple-color;
            text-transform: uppercase;
        }
        .card-name {
            @include font-set(1.4rem, $fw-700);
        }
        p {
            font: {
                family: "Roboto",Arial,Helvetica,sans-serif;
                size: .9rem;
            }
            line-height: 1.5rem;
            color: $dark-color;
        }
        img {
            transition: all 1s;
        }
        img:hover {
            transform: scale(105%);
        }
    }
    .card:hover {
        box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, .1);
    }
}

.teacherlist::after {
    @include bg-mixin("../img/Wave_White_bottom_right_shape_01.png", left bottom);
}

//FIND COURSE 
.findcourse {
    z-index: 1;
    @mixin inputConfig {
        width: 100%;
        border-radius: 25px;
        border: 1px solid rgba(0, 0, 0, .2);
        @include font-set(.65rem, $fw-600);
        padding-left: 25px;
    }
    @mixin iConfig {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        color: $purple-color;
        font-size: .9rem;
    }
    .findLeft {
        img {
            max-width: 100%;
        }
    }
    .findRight {
        .findRightInner {
            width: 80%;
            margin: auto;
            border-radius: 25px;
            background-color: $white-color;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
            h1 {
                @include font-set(2rem, $fw-700);
                text-transform: capitalize;
            }
        }
        .findForm {
            max-width: 100%;
            .formItem {
                flex: 1 0 50%;
                max-width: 49%;
                input {
                   @include inputConfig();
                }
                i {
                    @include iConfig();
                }
            }
            .iconPosition {
                select {
                    @include inputConfig();
                    height: 36px;
                }
                textarea {
                    @include inputConfig();
                    max-height: 90px;
                }
                i {
                    @include iConfig();
                }

                i:last-of-type {
                    top: 10px;
                    left: 10px;
                    transform: unset;
                }
            }
            div {
                margin-bottom: 15px;
            }
        }
        button {
            @include button(48px);
            text-transform: uppercase;
            padding: 0 3rem;
        }
    }
}

.findcourse::after {
    @include bg-mixin("../img/accent_bottom_wave_01.png",  left bottom);
    z-index: -1;
}

//FOOTER
footer {
    background-image: url(../img/footer_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    color: $white-color;
    .footerInner {
        max-width: 80%;
    }
    .footerItem {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        button {
            @include button(48px);
            @include font-set(.9rem, $fw-600);
            text-transform: uppercase;
            family: 'Montserrat', sans-serif;
            padding: 0 2rem;
            background-color: $white-color;
            color: $purple-color;
            border: 1px solid $white-color;
            &:hover {
                background-color: $purple-color;
                color: $white-color;
            }
        }
        input {
            @include font-set(.9rem, $fw-400);
            text-align: center;
            border: 1px solid $purple-color;
            background-color: transparent;
            border-radius: 25px;
            color: $white-color;
            height: 48px;
            transition: all .5s;
            &::placeholder {
                color: $white-color;
            }
            &:focus {
                border-color: $white-color;
            }
        }
    }
    h2 {
        @include font-set(1.55rem, $fw-700);
    }
    ul {
        margin: 2rem 0;
        li {
            list-style-type: none;
            line-height: 2rem;
            @include font-set(.9rem, $fw-400);
            span {
                padding-left: .3rem;
            }
        }
    }
    .footerSocial {
        a {
            color: $white-color;
            margin: 0 .2rem;
            text-decoration: none;

        }
    }

    .footerQuickLinks {
        a {
            color: $white-color;
            text-decoration: none;
            border-bottom: 1px solid $purple-color;
            @include font-set(.9rem, $fw-400);
            line-height: 2rem;
        }
        a:hover {
            opacity: .8;
        }
    }
    @media (max-width: 600px) {
        background-position: center;
    }
    @media (min-width: 600px) {
        background-position: center;
    }
}
